extends container

block content
    div
        h2 New positions for You
    h2 Position:
    div.block
        div
            b category:
            |&nbsp;#{category}
        div
            b level:
            |&nbsp;#{level}
        div
            b company:
            | &nbsp;#{company}
        div
            b description:
            | &nbsp;#{description}
        div
            b japaneseRequired:
            | &nbsp;#{japaneseRequired}
        div.x
        div.y