extends container

block content
    div
        h2 Sorry this position removed of platform
    h2 Position:
    div.block.blockRemovedPosition
        div
            b category:
            |&nbsp;#{category}
        div
            b level:
            |&nbsp;#{level}
        div
            b company:
            | &nbsp;#{company}
        div
            b description:
            | &nbsp;#{description}
        div
            b japaneseRequired:
            | &nbsp;#{japaneseRequired}